.highlighter-rouge {
    color: #337ab7;
    background-color: #eee;
    font-weight:400;
}

.font17 {font-size: 17px;}
.font19 {font-size: 19px;}

.darkGray{color:#1E1B1B}

bold {
  font-weight: 400;
}

.pdLeft45 {padding-left: 45px;}

.pdTop10 {padding-top: 10px;}
